<footer class="sticky-footer mt-auto py-3 bg-light text-center">
    <div class="container">
      <span class="text-muted">&copy; Copyright 2023 <strong>Coopervision</strong>.</span>
    </div>
  </footer>
