<head>
    <%- include('../partials/head'); %>
</head>
<header>
    <%- include('../partials/header'); %>
</header>
<div class="container">
    <div class="row">
        <div class="col">
            <p>
                <%= content %>
            </p>
        </div>
    </div>
</div>